; indicate this is the root of the project
root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true

[*.c]
indent_size = 4

[*.y]
indent_size = 8

[*.l]
indent_size = 8

[Makefile]
indent_style = tab
indent_size = 8
